.quantity {
    width: 100%;
    height: 40px;
    margin-top: 23px;
}

.quantity_selector {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 132px;
    height: 100%;
    border: solid 1px #e5e5e5;
    margin-left: 29px;
}

.add_to_cart_button {
    width: 160px;
    margin-left: 19px;
    font-size: 12px !important;
}

.red_button {
    display: -webkit-inline-box;
    display: -moz-inline-box;
    display: -ms-inline-flexbox;
    display: -webkit-inline-flex;
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: auto;
    height: 40px;
    background: black;
    border-radius: 3px;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.red_button a {
    display: block;
    color: #ffff;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 500;
    text-align: center;
    line-height: 40px;
    width: 100%;
}

.product_favorite {
    width: 40px;
    height: 100%;
    margin-left: 22px;
    border: solid 1px #e5e5e5;
    border-radius: 2px;
    cursor: pointer;
}

.product_favorite::after {
    font-family: 'FontAwesome';
    content: '\f08a';
    font-size: 14px;
}

.product_favorite.active::after {
    content: '\f004';
    color: #fe4c50;
}

.product_favorite:hover::after {
    color: #fe4c50;
}

.product-box .product-name {
    font-size: 1.07143em;
    color: #42210b;
    font-weight: 400;
    overflow: hidden;
    text-overflow: ellipsis;
    word-break: break-word;
    margin: 0;
    margin-bottom: 8px;
}

*, ::after, ::before {
    box-sizing: border-box;
}

.align-items-center {
    -ms-flex-align: center !important;
    align-items: center !important;
}

.plus, .minus {
    padding-left: 14px;
    padding-right: 14px;
    cursor: pointer;
}

.add_to_cart_button {
    width: 160px;
    margin-left: 19px;
    font-size: 12px !important;
}

.card-title {
    color: black;
}

.card {
    justify-content: center;
    text-align: center;
}
.breadcrumb {
    list-style: none;
    padding: 0;
    margin: 20px 0;
    display: flex;
    flex-wrap: wrap;
}

.breadcrumb li {
    margin-right: 5px;
}

.breadcrumb li a {
    text-decoration: none;
    color: #007bff;
}

.breadcrumb li a:hover {
    text-decoration: underline;
}

.breadcrumb li span {
    margin-right: 5px;
}

/* Container and Row CSS */
.container.edit-brc {
    width: 100%;
    padding: 15px;
    margin-right: auto;
    margin-left: auto;
}

.row {
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}

.col-md-12 {
    position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
}

