.quantity {
    width: 100%;
    height: 40px;
    margin-top: 23px;
}

.quantity_selector {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 132px;
    height: 100%;
    border: solid 1px #e5e5e5;
    margin-left: 29px;
}

.add_to_cart_button {
    width: 160px;
    margin-left: 19px;
    font-size: 12px !important;
}

.red_button {
    display: -webkit-inline-box;
    display: -moz-inline-box;
    display: -ms-inline-flexbox;
    display: -webkit-inline-flex;
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: auto;
    height: 40px;
    background: black;
    border-radius: 3px;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.red_button a {
    display: block;
    color: #ffff;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 500;
    text-align: center;
    line-height: 40px;
    width: 100%;
}

.product_favorite {
    width: 40px;
    height: 100%;
    margin-left: 22px;
    border: solid 1px #e5e5e5;
    border-radius: 2px;
    cursor: pointer;
}

.product_favorite::after {
    font-family: 'FontAwesome';
    content: '\f08a';
    font-size: 14px;
}

.product_favorite.active::after {
    content: '\f004';
    color: #fe4c50;
}

.product_favorite:hover::after {
    color: #fe4c50;
}

*, ::after, ::before {
    box-sizing: border-box;
}

.align-items-center {
    -ms-flex-align: center !important;
    align-items: center !important;
}

.plus, .minus {
    padding-left: 14px;
    padding-right: 14px;
    cursor: pointer;
}

.add_to_cart_button {
    width: 160px;
    margin-left: 19px;
    font-size: 12px !important;
}

a, a:hover, a:visited, a:active, a:link {
    text-decoration: none;
    -webkit-font-smoothing: antialiased;
    -webkit-text-shadow: rgba(0, 0, 0, .01) 0 0 1px;
    text-shadow: rgba(0, 0, 0, .01) 0 0 1px;
}

a {
    color: #007bff;
    text-decoration: none;
    background-color: transparent;
    -webkit-text-decoration-skip: objects;
}

.card-title {
    color: black;
}

.card {
    justify-content: center;
    text-align: center;
}