.main_nav li a.active {
    color: #937c6f;
}

/*#banner {
    margin: 40px 0;
}
/* Google fonts */
/*@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
{ 
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}*/

/*.main_nav li a.active::after{
    content: "";
    width: 30%;
    height: 2px;
    background: #937c6f;
    position: absolute;
    bottom: -3px;
    left: 20px;
}*/

/*.banner {
    margin-top: 120px;  Đẩy phần tử xuống để không trùng với header 
    display: flex;
    color: black;
    text-align: center;
    padding: 20px;
    border: 1px solid #ccc;
}
/*#banner {
    display: flex;
    top: 130px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-image: url("images/b2.jpg");
}*/