@charset "utf-8";
/* CSS Document */

/******************************

[Table of Contents]

1. Fonts
2. Body and some general stuff
3. Header
	3.1 Header - Logo
	3.2 Header - Main Navigation
	3.3 Header - Search
	3.4 Header - Shopping
	3.5 Header - Burger
4. Home
	4.1 Home Slider
5. Menu
6. Promo
7. New Arrivals
8. Extra
9. Gallery
10. Testimonials
11. Newsletter
12. Footer


******************************/

/***********
1. Fonts
***********/

@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&family=Montserrat:wght@300;400;600;700&family=Open+Sans:wght@300;400;600;700;800&display=swap');
@font-face
{
	font-family: 'Lucida';
	src: url('../fonts/lucida_bright_regular.ttf')  format('truetype');
}
@font-face
{
	font-family: 'Lucida';
	src: url('../fonts/lucida_bright_demi.ttf')  format('truetype');
	font-weight: 700;
}
@font-face
{
	font-family: 'Beyond';
	src: url('../fonts/beyond_the_mountains.otf')  format('opentype'),
		 url('../fonts/beyond_the_mountains.ttf')  format('truetype');
}

/*********************************
2. Body and some general stuff
*********************************/

*
{
	margin: 0;
	padding: 0;
	-webkit-font-smoothing: antialiased;
	-webkit-text-shadow: rgba(0,0,0,.01) 0 0 1px;
	text-shadow: rgba(0,0,0,.01) 0 0 1px;
}
body
{
	font-family: 'Open Sans', sans-serif;
	font-size: 14px;
	font-weight: 400;
	background: #FFFFFF;
	color: #2f2f2f;
}
div
{
	display: inline-block;
	position: relative;
	-webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
ul
{
	list-style: none;
	margin-bottom: 0px;
}
p
{
	font-family: 'Open Sans', sans-serif;
	font-size: 14px;
	line-height: 2;
	font-weight: 400;
	color: #929191;
	-webkit-font-smoothing: antialiased;
	-webkit-text-shadow: rgba(0,0,0,.01) 0 0 1px;
	text-shadow: rgba(0,0,0,.01) 0 0 1px;
}
p a
{
	display: inline;
	position: relative;
	color: inherit;
	border-bottom: solid 1px #ffa07f;
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}
a, a:hover, a:visited, a:active, a:link
{
	text-decoration: none;
	-webkit-font-smoothing: antialiased;
	-webkit-text-shadow: rgba(0,0,0,.01) 0 0 1px;
	text-shadow: rgba(0,0,0,.01) 0 0 1px;
}
p a:active
{
	position: relative;
	color: #FF6347;
}
p a:hover
{
	color: #FFFFFF;
	background: #ffa07f;
}
p a:hover::after
{
	opacity: 0.2;
}
::selection
{
	
}
p::selection
{
	
}
h1{font-size: 48px;}
h2{font-size: 36px;}
h3{font-size: 24px;}
h4{font-size: 18px;}
h5{font-size: 14px;}
h1, h2, h3, h4, h5, h6
{
	font-family: 'Open Sans', sans-serif;
	-webkit-font-smoothing: antialiased;
	-webkit-text-shadow: rgba(0,0,0,.01) 0 0 1px;
	text-shadow: rgba(0,0,0,.01) 0 0 1px;
}
h1::selection, 
h2::selection, 
h3::selection, 
h4::selection, 
h5::selection, 
h6::selection
{
	
}
.form-control
{
	color: #db5246;
}
section
{
	display: block;
	position: relative;
	box-sizing: border-box;
}
.clear
{
	clear: both;
}
.clearfix::before, .clearfix::after
{
	content: "";
	display: table;
}
.clearfix::after
{
	clear: both;
}
.clearfix
{
	zoom: 1;
}
.float_left
{
	float: left;
}
.float_right
{
	float: right;
}
.trans_200
{
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}
.trans_300
{
	-webkit-transition: all 300ms ease;
	-moz-transition: all 300ms ease;
	-ms-transition: all 300ms ease;
	-o-transition: all 300ms ease;
	transition: all 300ms ease;
}
.trans_400
{
	-webkit-transition: all 400ms ease;
	-moz-transition: all 400ms ease;
	-ms-transition: all 400ms ease;
	-o-transition: all 400ms ease;
	transition: all 400ms ease;
}
.trans_500
{
	-webkit-transition: all 500ms ease;
	-moz-transition: all 500ms ease;
	-ms-transition: all 500ms ease;
	-o-transition: all 500ms ease;
	transition: all 500ms ease;
}
.fill_height
{
	height: 100%;
}
.super_container
{
	width: 100%;
	overflow: hidden;
}
.prlx_parent
{
	overflow: hidden;
}
.prlx
{
	height: 130% !important;
}
.nopadding
{
	padding: 0px !important;
}
.section_title_container
{

}
.Section_subtitle
{
	font-family: 'Montserrat',sans-serif;
	font-size: 18px;
	font-weight: 600;
	color: #805c5cd5;
	text-transform: uppercase;
	letter-spacing: 0.2em;
}
.Section_title
{
	font-family: 'Railway', serif;
	font-size: 60px;
	font-weight: 600;
	text-transform: uppercase;
	color: #291d1da9;
	margin-top: -4px;
	margin-bottom: -30px;
}
.button
{
	width: 142px;
	height: 46px;
	background: #937c6f;
	text-align: center;
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}
.button a
{
	display: block;
	font-size: 12px;
	text-transform: uppercase;
	color: #FFFFFF;
	letter-spacing: 0.2em;
	line-height: 46px;
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}
.button:hover
{
	background: #e0e3e4;
}
.button:hover a
{
	color: #232323;
}

/*********************************
3. Header
*********************************/

.head
{
	position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
    background: #FFFFFF;
    z-index: 100;
    padding-left: 5%;
	padding-top: 10px;
	padding-bottom: 10px;
    padding-right: 5%;
    transition: all 200ms ease;
}
.header.scrolled
{
    height: 10vh; /* 10% of viewport height */
}
.header_content {
    flex-grow: 0.2;
    display: flex;
    align-items: center;
    justify-content: space-between; /* Đẩy các phần tử con sang bên phải */
    padding-right: -10%; /* Đảm bảo không có khoảng trắng thừa bên phải */
	margin-right: -3%;
}
.row.align-items-center
{
	width: 100%;
	height: auto;
}
.head_inner
{
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

/*********************************
3.1 Header - Logo
*********************************/
.Logo img {
    max-width: 8vw; /* Đảm bảo logo tự động điều chỉnh kích thước */
    height: auto; /* Đảm bảo chiều cao tự động điều chỉnh */
}
/*.logo a
{
	font-family: 'Lucida', serif;
    font-size: 1.5vw; /* 2.5% of viewport width 
	color: #2f2f2f;
}

/*********************************
3.2 Header - Main Navigation
*********************************/
/* Hiển thị submenu khi hover vào mục chính hoặc submenu */
.dropdown {
	position: relative;
	display: inline-block;
}

  .dropdown_content {
	display: none;
	position: absolute;
	background-color: #f1f1f1;
	min-width: 100%;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	z-index: 1;
	width: max-content;
  }
  
  .dropdown_content a {
	color: black;
    padding: 1rem; /* 1rem for padding */
	text-decoration: none;
	display: block;
  }
  
  .dropdown_content a:hover {background-color: #ddd;}
  
  .dropdown:hover .dropdown_content {display: block;}
  
  .dropdown:hover .dropbtn {background-color: #3e8e41;}


.main-nav
{
	flex: 1;
    padding-left: 7%; /* 5% of the width */
	-webkit-transform: translateY(4%);
	-moz-transform: translateY(4%);
	-ms-transform: translateY(4%);
	-o-transform: translateY(4%);
	transform: translateY(0);
}
.main-nav ul {
	list-style: none;
    margin: 0;
    padding: 0;
	padding-left: 5%;
}
.main-nav ul li
{
	display: inline-block;
    margin-right: 5%; /* 2% of the width */
}
.main-nav ul li:last-child
{
	margin-right: 0;
}
.main-nav ul li a
{
    font-size: 0.7vw; /* 0.8% of viewport width */
	font-family: 'Montserrat',sans-serif;
	text-transform: uppercase;
	color: #2f2f2f;
	font-weight: 700;
	letter-spacing: 0.2em;
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
   /* text-decoration: none;
    color: #2f2f2f;
    font-weight: 700;
    text-transform: uppercase;
    padding: 10px 15px;
    transition: all 0.3s ease;*/
}
.main-nav ul li a:hover
{
	color: #000000;
}

/*********************************
3.3 Header - Search
*********************************/

.Search
{
	flex: 3.5;
	display: inline-block;
	width: 25%; /* 25% of the width */
	/*-webkit-transform: translateY(2px);
	-moz-transform: translateY(2px);
	-ms-transform: translateY(2px);
	-o-transform: translateY(2px);*/
	transform: translateY(4%);
}
.Search-input
{
	flex: 1;
	width: 13vw;
    height: 5vh; /* 5% of viewport height */
	background: #6d66665d;
	border-radius: 50px;
	border: none;
	outline: none;
    padding-left: 5%; /* 5% of the input width */
}
.Search-button
{
	position: absolute;
	top: 45%;
	/*-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-o-transform: translateY(-50%);*/
	transform: translateY(-50%);
	right: 12%; /* 5% of the search input width */
    width: 2vw; /* 2% of viewport width */
    height: 2vw; /* 2% of viewport width */
	background: transparent;
	border: none;
	outline: none;
}
.Search-button:focus
{
	outline: none !important;
}
.Search-button img
{
	max-width: 100%;
}


/*********************************
3.4 Header - Shopping
*********************************/
.Search.header_search {
    margin-right: 1rem; /* Adjust the margin as needed */
}
.shopping
{
	flex: 1;
    padding-left: 2%; /* 10% of the width */
	/*-webkit-transform: translateY(-2px);
	-moz-transform: translateY(-2px);
	-ms-transform: translateY(-2px);
	-o-transform: translateY(-2px);*/
	transform: translateY(-2%);
}
.shopping a
{
	display: inline-block;
    margin-right: 2%; /* 2% of the width */
}
.shopping a:last-child
{
	margin-right: 0;
}
.cart-num_container
{
	position: absolute;
    top: 50%; /* Đặt phần tử theo chiều cao trên cùng 50% */
    left: -15%; /* Đặt phần tử theo chiều ngang bên trái -20px */
    width: 0.8vw; /* Đặt kích thước rộng */
    height: 0.8vw; /* Đặt kích thước cao */
    background: #000000a2;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
	margin-left: -100%;
}
.star-num_container
{
	position: absolute;
    top: 50%; /* Đặt phần tử theo chiều cao trên cùng 50% */
    left: -15%; /* Đặt phần tử theo chiều ngang bên trái -20px */
    width: 0.8vw; /* Đặt kích thước rộng */
    height: 0.8vw; /* Đặt kích thước cao */
    background: #000000a2;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
	margin-left: -10%;
}
.cart_num_inner,
.star_num_inner
{
	width: 100%;
	height: 100%;
}
.cart_num,
.star_num
{
	position: absolute;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	-o-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	font-size: 70%;
	font-weight: 600;
	color: #FFFFFF;
	
}
.Cart img
{
	width: 1vw; /* 2% of viewport width */
    height: 2vw; /* 2% of viewport width */
	margin-left: -100%;
}
.star img
{
	width: 1vw; /* 2% of viewport width */
    height: 2vw; /* 2% of viewport width */
	margin-left: -10%;
}
.avatar img
{
	width: 1vw; /* 2% of viewport width */
    height: 2vw; /* 2% of viewport width */
	margin-left: 5%;

}

/*********************************
3.5 Header - Burger
*********************************/

.burger-container
{
	position: absolute;
	top: calc(50% + 4px);
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-o-transform: translateY(-50%);
	transform: translateY(-50%);
	right: 0;
	width: 22px;
	height: 16px;
	cursor: pointer;
}
.burger-container div
{
	width: 100%;
	height: 2px;
	background: #232323;
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
	pointer-events: none;
}
.burger-container:hover div
{
	background: #494848;
}

/*********************************
4. Home
*********************************/

.home
{
	width: 100%;
	height: 904px;
	background: #FFFFFF;
}

/*********************************
4.1 Home Slider
*********************************/

.home_slider_container
{
	width: 100%;
	height: 100%;
	position: relative;
	margin: auto;
}
.home_slider_background
{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
}
.home_slider_content
{
	position: absolute;
	top: 56.3%;
	left: 50%;
	-webkit-transform: translateX(-50%);
	-moz-transform: translateX(-50%);
	-ms-transform: translateX(-50%);
	-o-transform: translateX(-50%);
	transform: translateX(-50%);
	z-index: 10;
}
.home_slider_content_inner
{
	
	font-style: italic;
	font-weight: bold;
	margin-top: -45px;
}
.home_slider_title
{
	font-family: 'Lucida', serif;
	font-size: 80px;
	color: #ffffff;
	height: 99px;
	line-height: 99px;
	padding-left: 31px;
	padding-right: 19px;
	white-space: nowrap;
}
.home_slider_subtitle
{
	position: absolute;
	left: 50%;
	-webkit-transform: translateX(-50%);
	-moz-transform: translateX(-50%);
	-ms-transform: translateX(-50%);
	-o-transform: translateX(-50%);
	transform: translateX(-50%);
	top: -37px;
	height: 37px;
	background: #2f2f2f;
	color: #FFFFFF;
	padding-left: 34px;
	padding-right: 34px;
	line-height: 37px;
	font-family: 'Lucida', serif;
	font-size: 18px;
	white-space: nowrap;
}
.home_slider_next
{
	position: absolute;
	top: 54%;
	right: 60px;
	width: 45px;
	height: 45px;
	background: #3b3a395b;
	z-index: 10;
	border-radius: 50%;
	cursor: pointer;
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}
.home_slider_next:hover
{
	background: #2f2f2fb5;
}
.home_slider_dots_container
{
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	z-index: 10;
}
.home_slider_dots
{
	display: inline-block;
	position: absolute;
	top: -4vw;
	margin-left: -20vw;
}
.home_slider_dots ul
{
	display: inline-block;
	margin-left: 10vw;
}

.home_slider_dots ul li
{
	display: inline-block;
	position: relative;
	font-family: 'Lucida', serif;
	font-weight: bold;
	font-size: 18px;
	margin-right: 7px;
	margin-left: 2px;
	cursor: pointer;
}
.home_slider_dots ul li:last-child
{
	margin-right: 0;
}
.home_slider_custom_dot div
{
	display: inline-block;
	width: 15px;
	height: auto;
	background: #000000;
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}
.home_slider_custom_dot.active div
{
	width: 100px;
}
.home_slider .owl-dots
{
	display: none !important;
}


/*********************************
5. Menu
*********************************/

.menu
{
	position: fixed;
	top: 0;
	right: -400px;
	width: 400px;
	height: 100vh;
	background: #514c4c;
	z-index: 101;
	padding-right: 60px;
	padding-top: 87px;
	padding-left: 50px;
}

.menu.active
{
	right: 0;
}
.menu_close_container
{
	position: absolute;
	top: 30px;
	right: 60px;
	width: 18px;
	height: 18px;
	transform-origin: center center;
	-webkit-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	-o-transform: rotate(45deg);
	transform: rotate(45deg);
	cursor: pointer;
}
.menu_close
{
	width: 100%;
	height: 100%;
	transform-style: preserve-3D;
}
.menu_close div
{
	width: 100%;
	height: 2px;
	background: #232323;
	top: 8px;
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}
.menu_close div:last-of-type
{
	-webkit-transform: rotate(90deg) translateX(-2px);
	-moz-transform: rotate(90deg) translateX(-2px);
	-ms-transform: rotate(90deg) translateX(-2px);
	-o-transform: rotate(90deg) translateX(-2px);
	transform: rotate(90deg) translateX(-2px);
	transform-origin: center;
}
.menu_close:hover div
{
	background: #937c6f;
}
.menu .logo
{
	margin-bottom: 60px;
}
.Logo.menu_mm
{
	align-items: end;

}
.menu-nav ul li
{
	margin-bottom: 11px;
}
.menu-nav ul li a
{
	font-size: 12px;
	font-family: 'Montserrat',sans-serif;
	align-items: end;
	text-transform: uppercase;
	color: #2f2f2f;
	font-weight: 600;
	letter-spacing: 0.2em;
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}
.menu-nav ul li a:hover
{
	color: #3834349c;
}
.menu .search
{
	width: 100%;
	margin-bottom: 67px;
}

/*********************************
6. Promo
*********************************/

.Promo
{
	padding-top: 100px;
}
.Promo_container
{
	margin-top: 75px;
}

/*.Promo_image
{
	width: 100%;
}*/
.Promo_image img
{
	max-width: 100%;
	border-radius: 20px;
}
/*.Promo_link
{
	width: 100%;
	height: 60px;
	background: #291c1cab;
	text-align: center;
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}
.Promo_link a
{
	display: block;
	font-family: 'Open sans', serif;
	font-size: 15px;
	color: #FFFFFF;
	line-height: 60px;
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
	letter-spacing: 0.1rem;
}
.Promo_link:hover
{
	background: #413d3d60;
}
.Promo_link:hover a
{
	color: #000000bd;
}
.Promo_content
{
	position: absolute;
	top: 43.6%;
	z-index: 1;
}
.promo_content_1
{	
	position: absolute;
    top: 6px;
    left: -4px;
    color: rgba(19, 18, 18, 0.5);
    background-color: currentColor;
    font-weight: 500;
    line-height: 1.6rem;
    padding-right: 6px;
    border-bottom-right-radius: 3px;
    border-top-right-radius: 3px;
}
.promo_content_2
{
	position: absolute;
    top: 6px;
    left: -4px;
    color: rgba(19, 18, 18, 0.5);
    background-color: currentColor;
    font-weight: 500;
    line-height: 1.6rem;
    padding-right: 6px;
    border-bottom-right-radius: 3px;
    border-top-right-radius: 3px;
}
.promo_content_3
{
	position: absolute;
    top: 6px;
    left: -4px;
    color: rgba(19, 18, 18, 0.5);
    background-color: currentColor;
    font-weight: 500;
    line-height: 1.6rem;
    padding-right: 6px;
    border-bottom-right-radius: 3px;
    border-top-right-radius: 3px;
}*/

/*.Promo_item {
	position: relative;
    display: block;
    padding-bottom: 30px;
    cursor: pointer;
	overflow: hidden; /* Đảm bảo chỉ hiển thị nội dung bên trong 
}

.Promo_image {
	margin-bottom: 1.5vw;
    position: relative;
    top: 2vw;
    transition: .3s all ease;
  }*/
/* Điều chỉnh cho màn hình nhỏ hơn 
@media (max-width: 768px) {
    .Promo_item {
        padding-bottom: 10px; /* Thay đổi padding-bottom cho màn hình nhỏ hơn 
    }

    .Promo_item .Promo_image {
        margin-bottom: 10px; /* Thay đổi margin-bottom cho màn hình nhỏ hơn 
    }
}*/
/*.Promo .Promo_item .Promo_image {
	margin-bottom: 10px;
	position: relative;
	top: 2vw;
	-webkit-transition: .3s all ease;
	-o-transition: .3s all ease;
	transition: .3s all ease;
  }
.Promo_item:before {
    bottom: 0;
    left: 0;
    right: 0;
    position: absolute;
    content: "";
    background: rgba(167, 157, 157, 0.397);
    height: 0;
    z-index: -1;
    border-radius: 20px;
    transition: height 0.3s ease;
}*/
.Product:hover .home-product-item__favourite {
    transform: scale(1.3); /* Khi hover vào, phần tử yêu thích sẽ phóng to 20% */
}
.Product:hover .Product_info {
    transform: scale(1.02); /* Khi hover vào, phần tử content sẽ phóng to 10% */
}
.Product_prices {
	font-family:'Courier New', Courier, monospace;
	font-size: 16px;
	font-weight: bold;
}
.Product_prices:hover a {
	color: #937c6f;
}
.Product_prices a
{
	color: black;
}

.Product:hover .Product_prices{
    opacity: 1;
    visibility: visible;
}
/*.Promo .Product_name {
	visibility: hidden;
    position: absolute;
    left: 50%;
    border-radius: 5px;
    transition: visibility 0s, opacity 0.3s ease;
    color: #ffffff;
    white-space: nowrap; /* Ngăn chặn chữ xuống dòng 
}
.Product_info .Product_name a {
	color: rgb(52, 47, 47);
}
.Promo_item:hover .Product_name {
	
    visibility: visible;
    opacity: 1;
}

.Promo_item:hover .Promo_image {
	top: -20px;
}
.Promo_item:hover:before {
	height: 70%;
	padding-bottom: 100px;
}*/
.Promo_options {
	float: right;
	bottom: 2vw;
	transform: translateY(11px);
	opacity: 0;
    visibility: hidden;
    transition: .3s all ease;
}
.Product_image img:hover {
	transform: scale(1.08);
  	transition: transform 0.6s;
}
.Product:hover .Promo_options {
    opacity: 1;
    visibility: visible;
}
.home-product-item__favourite {
	position: absolute;
    top: 10px; /* Adjust as needed */
    left: 10px; /* Adjust as needed */
    display: flex;
    flex-direction: column;
    align-items: center;
}
.home-product-item__favourite span {
    color: #fff;
	font-family:'Courier New', Courier, monospace;
	font-weight: bold;
	font-size: 16px;
}
.Promo_title
{
	font-family:'Courier New', Courier, monospace;
	font-size: 15px;
	color: #fffefec2;
	font-weight: bold;
}
.Promo_subtitle
{
	font-size: 14px;
	color: #FFFFFF;
	font-weight: 600;
	text-transform: uppercase;
	margin-top: -3px;
}
.Promo_content_3 .Promo_subtitle
{
	text-transform: none;
	font-weight: 400;
	font-style: italic;
}
.Danhgia
{
	margin-top: 50px;
}
.Danhgia{
    color: #e2d275ce; /* Màu vàng */
}

/*********************************
7. New Arrivals
*********************************/

.arrivals
{
	padding-top: 50px;
	padding-bottom: 95px;
}
.Products_container
{
	margin-top: 98px;
}

.Product {
    position: relative;
    display: block;
    padding-bottom: 30px;
    cursor: pointer;
}

.Product .Product_image {
    margin-bottom: 10px;
    position: relative;
    top: 2vw;
    transition: .3s all ease;
}
.Product_image img {
	border-radius: 20px;
}
.Product:before {
    bottom: 0;
    left: 0;
    right: 0;
    position: absolute;
    content: "";
    background: rgba(166, 158, 158, 0.292);
    height: 0;
    z-index: -1;
    border-radius: 20px;
    transition: height 0.3s ease;
}

.Product:hover:before {
    height: 100%;
}

.Product .Product_image img {
    max-width: 100%;
}

.Product:hover .Product_image {
    top: 2px;
}

.Product_price,
.Product_options {
    opacity: 0;
    visibility: hidden;
    transition: .3s all ease;
}

.Product:hover .Product_price,
.Product:hover .Product_options {
    opacity: 1;
    visibility: visible;
}
.Rating
{
	margin-top: 50px;
}
.Rating i
{
	font-size: 15px;
	margin-right: 1px;
	color: #bbbebec7;
}
.Rating i:last-child
{
	margin-right: 0px;
}
/*.Rating_1 i:first-child{color: #f5c06f;}
.Rating_2 i:first-child{color: #f5c06f;}
.Rating_2 i:nth-child(2){color: #e0e3e4;}
.Rating_3 i:first-child{color: #f5c06f;}
.Rating_3 i:nth-child(2){color: #f5c06f;}
.Rating_3 i:nth-child(3){color: #f5c06f;}
.Rating_4 i:first-child{color: #f5c06f;}
.Rating_4 i:nth-child(2){color: #f5c06f;}
.Rating_4 i:nth-child(3){color: #f5c06f;}
.Rating_4 i:nth-child(4){color: #f5c06f;}
.Rating_5 i:first-child{color: #f5c06f;}
.Rating_5 i:nth-child(2){color: #f5c06f;}
.Rating_5 i:nth-child(3){color: #f5c06f;}
.Rating_5 i:nth-child(4){color: #f5c06f;}
.Rating_5 i:nth-child(5){color: #f5c06f;}*/
.Product_content
{
	margin-top: 7px;
}
.Product_info
{
	float: left;
}
.Product_name a
{
	font-family: 'Courier New', Courier, monospace;
	font-size: 16px;
	font-weight: 600;
	color: #232323;
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}
.Product_name a:hover
{
	color: #937c6f;
}
.Product_price
{
	font-family:'Courier New', Courier, monospace;
	font-size: 17px;
	font-weight: 600;
	color: #af3737;
	margin-top: 0px;
}
.Product_options
{
	float: right;
	transform: translateY(11px);
}
.Product_option
{
	width: 37px;
	height: 37px;
	cursor: pointer;
}
.Product_buy
{
	display: inline-block;
	background: #6d564a68;
	vertical-align: middle;
	margin-right: 4px;
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}
.Product_buy img
{
	position: absolute;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	-o-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	width: 23px;
	height: 23px;
}
.Product_buy:hover
{
	background: #2f2f2f;
}
.Product_fav
{
	display: inline-block;
	vertical-align: middle;
	font-size: 14px;
	font-weight: 600;
	color: #fffefe;
	background: #6d564a68;
	line-height: 37px;
	text-align: center;
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}
.Product_fav:hover
{
	color: #FFFFFF;
	background: #232323;
}

/*********************************
8. Extra
*********************************/

.extra
{
	width: 100%;
	padding-left: 60px;
	padding-right: 60px;
}
.extra_promo
{
	width: calc((90vw - 20px) / 2); /* 50% chiều rộng của viewport với khoảng cách 20px giữa các phần tử */
    height: 40vw; /* Chiều cao sẽ chiếm 40% chiều rộng của viewport */
    float: left;
    position: relative;
    overflow: hidden; /* Đảm bảo không bị tràn nội dung */
    margin-bottom: 3vw; /* Khoảng cách dưới của mỗi phần tử là 3% chiều rộng của viewport */
}
.extra_promo_image
{
	position: absolute; /* Vị trí tuyệt đối */
    top: 50%; /* Đưa ra giữa theo chiều dọc */
    left: 50%; /* Đưa ra giữa theo chiều ngang */
    transform: translate(-50%, -50%); /* Dịch chuyển về giữa */
    width: 100%; /* Giữ nguyên kích thước */
    height: 100%; /* Giữ nguyên kích thước */
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}
.extra_promo_1
{
	margin-right: 30px;
	padding-top: 43px;
	padding-left: 45px;
	padding-bottom: 46px;
	padding-right: 45px;
}
.extra_1_content
{
	background: rgba(38, 37, 37, 0.599);
	border: solid 2px #c3bdbaab;
	position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    width: 50%; /* Đặt chiều rộng */
    height: 50%; /* Đặt chiều cao */
    padding: 20px; /* Để lại khoảng cách xung quanh */
  
}
.extra_1_price
{
	font-family: 'Beyond', sans-serif;
	margin-top: 4vw;
	font-size: 4vw;
	color: #FFFFFF;
	line-height: 0.75;
}
.extra_1_price span
{
	font-size: 18px;
}
.extra_1_title
{
	font-family: 'Railway', serif;
	text-transform: uppercase;
	font-size: 1.3vw;
	color: #fdfbfbe7;
	margin-top: 39px;
}
.extra_1_text
{
	font-size: 12px;
	color: #aeaeae;
	margin-top: 26px;
	line-height: 2;
	max-width: 80%; /* Đặt chiều rộng tối đa để văn bản không quá rộng */
    margin-top: 20px; /* Khoảng cách với phần tử trên nếu cần */
}
.button.extra_1-button
{
	margin-top: 39px;
	margin-bottom: 40px;
	background-color: rgba(0, 0, 0, 0.725);
}
.extra_promo_2
{
	padding-top: 43px;
	padding-bottom: 46px;
}
.extra_2_content
{
	max-width: 408px;
	height: 100%;
	background: transparent;
	padding-top: 27px;
	padding-left: 37px;
	padding-right: 37px;
	
}

.extra_2_title
{
	transform: translateX(20px);
}
.extra_2_center
{
	font-family: 'Lucida', serif;
	font-size: 200px;
	color: #cec7c7;
	line-height: 0.75;
	-webkit-transform: rotate(-12deg);
	-moz-transform: rotate(-12deg);
	-ms-transform: rotate(-12deg);
	-o-transform: rotate(-12deg);
	transform: rotate(-12deg);
}
.extra_2_top
{
	position: absolute;
	left: -50px;
	top: -32px;
	font-family: 'Beyond', sans-serif;
	font-size: 72px;
	line-height: 0.75;
	color: #cec7c7;
}
.extra_2_bottom
{
	position: absolute;
	left: -43px;
	bottom: -28px;
	font-family: 'Beyond', sans-serif;
	font-size: 72px;
	line-height: 0.75;
	color: #cec7c7;
}
.extra_2_text
{
	font-family: 'Railway', serif;
    color: #ffffff;
    line-height: 2;
    max-width: 20vw; /* Đặt chiều rộng tối đa để văn bản không quá rộng */
    position: absolute; /* Để căn giữa */
    transform: translate(11vw, 2vw); /* Dịch chuyển văn bản để căn giữa */
	font-size: 0.8vw; /* Kích thước chữ là 1.4% chiều rộng của viewport */
    font-style: italic;
}
.button.extra_2_button
{
	margin-top: 20vw;
	transform: translate(10vw, -8vw); /* Dịch chuyển văn bản để căn giữa */
	background-color: rgba(69, 59, 59, 0.677);
}

/*********************************
9. Gallery
*********************************/
.owl-item .gallery_item {
    position: relative;
    display: block;
    padding-bottom: 5px;
    cursor: pointer;
}

/*.owl-item .gallery_item .image-wrapper {
    margin-bottom: 10px;
    position: relative;
    top: 1vw;
    transition: .3s all ease;
}*/
.image-wrapper img {
	border-radius: 20px;
}
/*.owl-item .gallery_item:before {
    bottom: 0;
    left: 0;
    right: 0;
    position: absolute;
    content: "";
    background: rgba(166, 158, 158, 0.292);
    height: 0;
    z-index: -1;
    border-radius: 20px;
    transition: height 0.3s ease;
	
}*/
.owl-item .gallery_item img:hover {
	transform: scale(1.08);
  	transition: transform 0.6s;
}
.owl-item .gallery_item:hover:before {
    height: 100%;
}

.owl-item .gallery_item .image-wrapper img {
    max-width: 100%;
	
}

.owl-item .gallery_item:hover .image-wrapper {
    top: -20px;
}

.image-wrapper img {
    width: 100%; /* Đảm bảo ảnh co giãn theo kích thước của container */
    height: auto; /* Giữ tỷ lệ khung hình của ảnh */
}

.overlay-text, .overlay1-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: rgb(255, 249, 249); /* Màu chữ */
    padding: 10px; /* Khoảng cách xung quanh chữ */
    font-family:'Courier New', Courier, monospace;
    font-size: 15px; /* Kích thước chữ */
    text-align: center;
	font-style: italic;
    font-weight: 540;
    letter-spacing: 0.08em;
	white-space: nowrap;
}
.gallery
{
	width: 100%;
	padding-top: 88px;
	padding-left: 44px;
	padding-right: 44px;
	padding-bottom: 42px;
	margin-top: 30px;
}
.gallery_item a
{
	display: block;
	outline: none;
}
.gallery_image
{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
}
.gallery_title
{

}
.gallery_title ul li
{
	display: inline-block;
	margin-right: 34px;
}
.gallery_title ul li:last-child
{
	margin-right: 0;
}
.gallery_title ul li a
{
	font-family: 'Railway', serif;
	font-size: 70px;
	font-weight: 1000;
	color: #ffffff;
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}
.gallery_title ul li a:hover
{
	color: #444140f9;
}
.gallery_text
{
	font-size: 18px;
	color: #FFFFFF;
	margin-top: 5px;
	font-family: 'Times New Roman', Times, serif;
}
.gallery_button
{
	margin: 0 auto;
	margin-top: 40px;
}
.gallery_slider_container
{
	margin-top: 55px;
}

/*********************************
10. Testimonials
*********************************/

.testimonials
{
	width: 100%;
	padding-top: 88px;
	padding-bottom: 93px;
}
.test_slider_container
{
	margin-top: 65px;
}
.test_text
{
	font-family: 'Railway', serif;
	font-size: 24px;
	color: #8a8a8a;
	font-style: italic;
	line-height: 1.75;
}
.test_image
{
	width: 86px;
	height: 86px;
	border-radius: 50%;
	overflow: hidden;
	margin: 0 auto;
	margin-top: 26px;
}
.test_image img
{
	max-width: 100%;
}
.test_name
{
	font-family: 'Lucida', serif;
	font-size: 16px;
	font-weight: 700;
	color: #232323;
	margin-top: 14px;
}
.test_title
{
	font-size: 12px;
	text-transform: uppercase;
	letter-spacing: 0.2em;
	font-weight: 600;
	color: #937c6f;
	margin-top: 4px;
}

/*********************************
11. Newsletter
*********************************/

.newsletter
{
	width: 100%;
	padding-left: 62px;
	padding-right: 62px;
}
.newsletter_content
{
	width: 100%;
	padding-top: 88px;
	padding-bottom: 94px;
}
.newsletter_image
{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;

}
.newsletter_wrapper {
	margin-bottom: 50px;
}
.newsletter .section_subtitle,
.newsletter .section_title
{
	color: #cf0707;
}
.newsletter_container
{
	margin-top: 75px;
}
.newsletter_input
{
	width: 100%;
	height: 46px;
	background: #FFFFFF;
	font-family:'Railway',sans-serif;
	padding-left: 25px;
	border: none;
	outline: none;
	margin-top: -50px;
}
.newsletter_input::-webkit-input-placeholder
{
	font-size: 12px !important;
	font-weight: 400 !important;
	font-style: italic;
	color: #b3b3b3 !important;
}
.newsletter_input:-moz-placeholder
{
	font-size: 12px !important;
	font-weight: 400 !important;
	font-style: italic;
	color: #b3b3b3 !important;
}
.newsletter_input::-moz-placeholder
{
	font-size: 12px !important;
	font-weight: 400 !important;
	font-style: italic;
	color: #b3b3b3 !important;
} 
.newsletter_input:-ms-input-placeholder
{ 
	font-size: 12px !important;
	font-weight: 400 !important;
	font-style: italic;
	color: #b3b3b3 !important;
}
.newsletter_input::input-placeholder
{
	font-size: 12px !important;
	font-weight: 400 !important;
	font-style: italic;
	color: #b3b3b3 !important;
}
.newsletter_button
{
	font-family:'Railway',sans-serif;
	position: absolute;
	top: -12px;
	right: 0;
	width: 142px;
	height: 47px;
	background: #38343296;
	color: #FFFFFF;
	font-size: 12px;
	letter-spacing: 0.2em;
	text-transform: uppercase;
	border: none;
	outline: none;
	cursor: pointer;
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}
.newsletter_button:hover
{
	background: #4a4c4d70;
	color: #000000cb;
}
.newsletter_text
{
	font-family: 'Railway',serif;
	font-size: 14px;
	font-style: italic;
	color: #FFFFFF;
	text-align: center;
	margin-top: 19px;
}

/*********************************
12. Footer
*********************************/
.icon-payment {
    display: flex;
    gap: 10px; /* Khoảng cách giữa các biểu tượng */
    justify-content: left; /* Canh giữa các biểu tượng */
}

.icon-payment a {
    display: inline-block;
}

.payment-icon {
    max-width: 50px; /* Điều chỉnh kích thước tối đa của biểu tượng */
    height: auto;
    width: auto; /* Đảm bảo biểu tượng không bị méo */
}
.product-title {
    font-family: 'Roboto', serif;
	color: black;
	font-size: 15px;
}
.footer
{
	padding-top: 5%; /* Padding dựa trên chiều cao của footer */
	padding-bottom: 1%; /* Padding dựa trên chiều cao của footer */
	background: #79767656; /* Màu nền của footer */
	color: #232323; /* Màu chữ */
	text-align: center; /* Căn chỉnh văn bản vào giữa */
	padding-left: 5vw;}
.footer.relative {
	position: relative;
  }

/*.footer_logo 
{
	font-family: 'Lucida', serif;
	font-size: 5vw	;
	color: #232323;
	padding-bottom: 3vw;
}
.footer_nav
{
	font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
	margin-top: 14px;
}
.footer_menu {
    list-style: none;
    padding: 0;
    text-align: left;
    display: flex;
}

.footer_menu > li {
    margin-right: 3vw;
}
.footer_menu .product-category {
    display: block;
    margin-right: 30px;
}*/
.links-wrap {
    display: flex;
    justify-content: space-between;
}
.links-wrap .col-md-3 {
    flex: 0 0 auto;
	padding-left: 2vw;
}
.links-wrap .col-md-2 {
    flex: 0 0 auto;
	padding-left: 2.5vw;
}.links-wrap .col-md-4 {
    flex: 0 0 auto;
	padding-left: 4vw;
	padding-right: 1vw;
}
.links-wrap .list-unstyled {
    padding-left: 0;
    list-style: none;
	color: black;
	font-size: 0.8rem;
}

.links-wrap .list-unstyled li {
	margin-bottom: 0.5rem; /* Khoảng cách giữa các mục trong danh sách */
    font-size: 0.8vw; /* Kích thước font danh sách */
	color: black;
	font-family: 'Montserrat', serif;

}
.links-wrap .list-unstyled p {
    font-family: 'Montserrat', serif;
	font-size: 0.8vw; /* Kích thước font đoạn văn */
	color: black;
	margin-bottom: -1%;
}

.product-list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.product-list li {
    margin-bottom: 5px;
	display: block;

}
p.mb-4 {
	color: black;
	font-family: 'Montserrat' , sans-serif;
	font-size: 0.8vw;
}
.product-list a {
    color: #555;
    text-decoration: none;
	display: block;
    font-size: 1.4vw;
    transition: color 0.3s;
}

.product-list a:hover {
    color: #000;
}
.col.text-center {
	width: 100%;
	height: auto;
}
/*.footer_nav ul li
{
	display: block;
	margin-right: 53px;
}
.footer_nav ul li:last-child
{
	margin-right: 0;
}
.footer_nav ul li a
{
	font-size: 12px;
	text-transform: uppercase;
	color: #232323;
	font-weight: 600;
	letter-spacing: 0.2em;
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}
.footer_nav ul li a:hover
{
	color: #937c6f;
}*/
.footer-social {
    margin-top: 2rem; /* Khoảng cách trên cùng của mạng xã hội */
}
.footer-social .list-inline-item {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center; /* Canh giữa các biểu tượng mạng xã hội */
}
.footer-social a
{
	margin-top: 51px;
}
.fab.fa-facebook {
    color: black; 
}
.fab.fa-instagram {
	color: black;
}
.fab.fa-tiktok {
	color:black;
}
.fab.fa-twitter{
	color:black;
}
.footer-social ul li
{
	display: inline-block;
	margin-right: 2vw;
}
.footer-social ul li:last-child
{
	margin-right: 0;
}
.footer-social ul li a i
{
	font-size: 1.5rem; /* Kích thước biểu tượng */
	color: #937c6f;
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}
.footer-social ul li a i:hover
{
	color: #4c565a6b;
}
.copyright
{
	margin-top: 2rem; /* Khoảng cách trên cùng của bản quyền */
    padding-bottom: 0.5rem; /* Khoảng cách dưới của bản quyền */
    font-size: 0.8rem; /* Kích thước font của bản quyền */
    font-weight: bold; /* Độ đậm của bản quyền */
	font-style: italic;
}

/** Scroll to top button*/

.scroll-to-top-btn {
	display: none; /* Ẩn nút cuộn lên đầu trang mặc định */
    position: fixed;
    bottom: 2rem; /* Khoảng cách dưới của nút */
    right: 2rem; /* Khoảng cách bên phải của nút */
    color: #fff; /* Màu chữ */
    background-color: #8f8d8d; /* Màu nền */
    border: none; /* Không có viền */
    border-radius: 20px; /* Bo tròn góc */
    padding: 0.5rem 1rem; /* Kích thước padding của nút */
    cursor: pointer; /* Con trỏ chỉ vào */
    z-index: 1000; /* Độ sâu z-index */
}
/* social button*/

.sc-buttons {

	position: fixed;
	bottom: 25%;
	right: 1.5%;
	transform: translateY(-50%);
	display: flex; 
	flex-direction: column;
	align-items: flex-end;
	margin: -20px;
  
	z-index: 1000;
  }
  
  .sc-buttons a {
	display: block;
	width: 40px;
	height: 40px;
	overflow: hidden;
	border-radius: 50%;
	margin-bottom: 10px;
  }
  
  .sc-buttons a img {
	width: 100%;
	height: auto;
	border-radius: 50%;
  }
  
  .sc-buttons a:hover {
	background-color: #f8f8f8;
  }
  .sc-buttons img:hover {
	transform: scale(1.2);
	transition: transform 0.5s;
  }
  /* CRO-botton*/
/*Đối tác*/

.partners-section {
	text-align: center;
	padding-bottom: 200px;
	padding-top: 100px;
  }
  
  .partners-section h2 {
	font-family: 'Montserrat',sans-serif;
	font-size: 3rem;
	font-weight: 600;
	color: #3b3737d5;
	text-transform: uppercase;
	letter-spacing: 0.1em;
  }
  
  .partner-images {
	
	display: flex;
 	justify-content: center;
  	flex-wrap: wrap;
  }
  
  .partner-images a {
    display: block;
    position: absolute; /* Đặt vị trí tuyệt đối để chuyển đổi ảnh */
    top: 50%;
 
    opacity: 0; /* Ẩn ảnh ban đầu */
    transition: opacity 0.3s ease; /* Hiệu ứng chuyển đổi */
    animation: slide 20s infinite; /* Chạy animation với thời gian 20 giây và lặp vô hạn */
}
  
.partner-images a:nth-child(1) {
    animation-delay: 0s; /* Không có độ trễ cho ảnh đầu tiên */
}

.partner-images a:nth-child(2) {
    animation-delay: 3s; /* Độ trễ 3 giây cho ảnh thứ hai */
}

.partner-images a:nth-child(3) {
    animation-delay: 6s; /* Độ trễ 6 giây cho ảnh thứ ba */
}

.partner-images a:nth-child(4) {
    animation-delay: 9s; /* Độ trễ 9 giây cho ảnh thứ tư */
}

.partner-images a:nth-child(5) {
    animation-delay: 12s; /* Độ trễ 12 giây cho ảnh thứ năm */
}

@keyframes slide {
    0% {
        opacity: 0; /* Ẩn ảnh ở đầu */
    }
    8% {
        opacity: 1; /* Hiển thị ảnh */
    }
    25% {
        opacity: 1; /* Hiển thị ảnh */
    }
    28% {
        opacity: 0; /* Ẩn ảnh */
    }
    100% {
        opacity: 0; /* Ẩn ảnh cuối */
    }
}

  /*Đối tác*/
  
  /*Giới thiệu chung*/
  .section_about_2 {
	padding-top: 80px;
	left:0;
  }
  .section_about_2 h2 {
	padding-top: 10px;
	font-family: 'Courier New', Courier, monospace;
	text-align: justify; 
	font-size: 18px;
	font-weight: 600;
	font-style: italic;
	line-height: 1.3lh;
	letter-spacing: 0.01rem;
  }

.contain {
    width: 100%;
    max-width: 1500px; /* Đặt giới hạn kích thước tối đa */
    margin: 0 auto; /* Căn giữa */
    padding: 0 15px; /* Tạo khoảng cách lề */
}
.contain video {
	max-width: 500px;
	max-height: 400px;

}
/*pop up*/
.overlay {
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.5);
	justify-content: center;
	align-items: center;
	z-index: 2000;
  }
  
  .popup {
	background: #dbd5d5e8;
	padding: 10px;
	border-radius: 10px;
	text-align: center;
	position: relative;
  }
  
  .close-btn {
	position: absolute;
	top: -20px;
	/* Adjusted top value to bring it closer */
	right: -10px;
	/* Adjusted right value to bring it closer */
	cursor: pointer;
	color: #ffffff;
	/* Set the color to white */
	font-size: 40px;
	/* Adjust the font size */
	font-weight: bold;
	/* Add bold style */
  }
  
  .countdown {
	font-family: 'Montserrat',serif;
	font-size: 15px;
	font-weight: bold;
	color: rgb(67, 3, 74);
  }
  
  .popup video {
	max-width:	400px;
	max-height: 400px;
  }
